[submodule ".vim/bundle/phpcomplete.vim"]
	path = .vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/vdebug.vim"]
	path = .vim/bundle/vdebug.vim
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/pdv.vim"]
	path = .vim/bundle/pdv.vim
	url = https://github.com/tobyS/pdv.git
[submodule ".vim/bundle/php.vim"]
	path = .vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar.vim"]
	path = .vim/bundle/tagbar.vim
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/ultisnips.vim"]
	path = .vim/bundle/ultisnips.vim
	url = https://github.com/SirVer/ultisnips.git
