[submodule ".vim/bundle/phpcomplete.vim"]
	path = .vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/vdebug.vim"]
	path = .vim/bundle/vdebug.vim
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/pdv.vim"]
	path = .vim/bundle/pdv.vim
	url = https://github.com/tobyS/pdv.git
[submodule ".vim/bundle/php.vim"]
	path = .vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar.vim"]
	path = .vim/bundle/tagbar.vim
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/ultisnips.vim"]
	path = .vim/bundle/ultisnips.vim
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-fugitive.vim"]
	path = vim-fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vmustache.vim"]
	path = .vim/bundle/vmustache.vim
	url = https://github.com/tobyS/vmustache.git
[submodule ".vim/bundle/taghighlight.vim"]
	path = .vim/bundle/taghighlight.vim
	url = https://github.com/abudden/taghighlight-automirror.git
    ignore = untracked
[submodule ".vim/bundle/vim-fugitive.vim"]
	path = .vim/bundle/vim-fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/sideways.vim"]
	path = .vim/bundle/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim.git
[submodule ".vim/bundle/php-getter-setter.vim"]
	path = .vim/bundle/php-getter-setter.vim
	url = https://github.com/docteurklein/php-getter-setter.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule ".vim/bundle/gtags.vim"]
	path = .vim/bundle/gtags.vim
	url = https://github.com/vim-scripts/gtags.vim.git
